<div class="row">
  <div class="col-xs-12 col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Рассчитать стоимость услуг</h3>
        <p>Подать машину через</p>
        <form ng-submit="onSubmit(movementForm)" ng-controller="CalculateController" novalidate name="movementForm">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" ng-model="movement.time" id="time-15" value="15" required> 15 мин
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" ng-model="movement.time" id="time-30" value="30" required> 30 мин
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" ng-model="movement.time" id="time-60" value="60" required> 1 час
            </label>
          </div>
          <div class="form-group">
            <label class="sr-only" for="move-from"></label>
            <input type="text" class="form-control" id="move-from"
                   ng-model="movement.from" name="move-from" placeholder="Откуда" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="move-to"></label>
            <input type="text" class="form-control" id="move-to"
                   ng-model="movement.to" name="move-to" placeholder="Куда" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Получить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-7">
    <div class="image-home-moving"></div>
  </div>
</div>

<section class="slider">
  <div class="slider-title">
    <h3>Наши услуги</h3>
    <div class="slider-line"></div>
    <div class="slider-subtitle">все услуги</div>
  </div>
</section>

<article class="article-light-moving">
  <span class="image-light-moving"></span>
  <h3>Легкий переезд</h3>
  <p>Жизнь в больших городах очень динамична. Ежедневно в Санкт-Петербурге в Ленинградской области
    происходят сотни переездов - квартирныйх, дачных, офисных. Переезжают магазины, склады и целые
    предприятия. И каждый из переездов - это стресс, связанный с необходимостью решения множества задач.</p>
  <p>Доверьте организацию перездов нам - забудьте о существовании проблем.</p>
  <a href="#/light-moving">Подробнее</a>
</article>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Закажите грузовое такси прямо сейчас</h3>
        <p class="text-center">Мы перезвоним вам в течении 3-х секунд!</p>
        <div class="row">
          <form ng-submit="onSubmit(orderForm)" ng-controller="OrderController" novalidate name="orderForm">
            <div class="col-xs-12 col-md-6 form-group">
              <input type="text" class="form-control" ng-model="order.name" placeholder="Ваше имя">
            </div>
            <div class="col-xs-12 col-md-6 form-group">
              <input type="text" class="form-control" name="orderPhone" ng-model="order.phone"
                     ng-pattern="/[+.+]\d{1}-\d{3}-\d{3}-\d{4}/" placeholder="+X-XXX-XXX-XXXX">
            </div>
            <div class="col-xs-12 form-group text-center">
              <button type="submit" class="btn btn-default">Перезвоните мне</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>