bg-color = #f5f5f5
panel-heading-bg-color = #ffffff
panel-heading-border-color = #ffffff
panel-border-color = #fed100
button-bg-color = #fed100
button-bg-hover-color = #f4c700
form-input-border-color = #ececec
form-input-border-color-focus = #cccccc
text-danger-color = #DE5053
panel-heading-color = #555655
row-margin-bottom = 40px

body
  font-family "Calibri", sans-serif

.container
  background-color white

.navbar-default
  background-color white
  border-color white
  .navbar-brand
    font-family "Calibri Light", sans-serif
    font-weight 600
  .navbar-nav
    > li
      a
        font-family "Calibri", sans-serif
        font-weight 400
        &:not(.navbar-brand)
          font-size 16px
          color panel-heading-color
      &:hover
        background-color button-bg-color

article
  margin-bottom row-margin-bottom
  h3
    font-size 24px
    font-weight 600
    color panel-heading-color
  a
    font-size 15px
    text-transform uppercase
    color text-danger-color
    &:hover
      text-decoration none
      color text-danger-color
      font-weight 600
    &:after
      content '>'
      margin-left 10px

.panel-default
  border 3px solid panel-border-color
  > .panel-heading
    font-weight 600
    background-color panel-heading-bg-color
    border-color panel-heading-border-color
  > .panel-body
    h3
      font-size 24px
      font-weight 600
      color panel-heading-color
    p
      color text-danger-color

.btn-default
  background-color panel-border-color
  text-transform uppercase
  font-weight 400
  border-radius 0

  &:hover
    background-color button-bg-hover-color

.form-control
  border none
  border-radius 0
  font-size 16px
  border-bottom 2px solid form-input-border-color
  box-shadow none
  &:focus
    box-shadow none
    border-color form-input-border-color-focus


input.ng-dirty.ng-invalid
  color text-danger-color

.image-home-moving
  background url(../images/Untitled-1.jpg)
  background-repeat no-repeat
  background-size contain
  height 305px
  width 400px
  margin-bottom 15px

.image-light-moving
  background url(../images/Untitled-2.jpg)
  background-repeat no-repeat
  background-size contain
  height 250px
  width 349px
  margin-right 15px
  margin-bottom 15px
  float left
  display inline-block
  text-align center

.article-light-moving
  float left
  display inline-block

.slider
  margin-bottom 40px
  > .slider-title
    h3
      display inline-block
      font-size 24px
      font-weight 600
      color panel-heading-color
      margin-right 5px
      margin-bottom 15px

    .slider-line
      background-color panel-border-color
      width calc(100% - 250px)
      height 3px
      display inline-block
      position relative
      top -4px

    .slider-subtitle
      color text-danger-color
      text-transform uppercase
      display inline-block
      font-weight 600
      font-size 18px
      margin-left 5px

  .slider-image
    margin-bottom 5px

  .slider-image-title
    cursor pointer
    text-transform uppercase
    font-size 16px
    font-weight 600
    display inline-block
    color panel-heading-color
    margin-bottom 5px
    &:hover
      border-bottom 3px solid panel-border-color

  .uk-slidenav-contrast
    color button-bg-color
    &:hover
      color button-bg-color


.image-help, .image-weight, .image-shop, .image-loading
  background-image url(../images/Untitled-8.png)
  background-repeat no-repeat

.image-help
  width: 120px
  height 124px
  background-position: 0px 0px
  background-size cover

.image-weight
  width: 167px
  height 124px
  background-position: -365px 0px
  background-size cover

.image-shop
  width: 167px
  height 124px
  background-position: -780px 0px
  background-size cover

.image-loading
  width: 185px
  height 124px
  background-position: -1224px 0px
  background-size cover
